/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Global */
body {
  font-size: 16px;
  line-height: 1.2;
  font-family: sans-serif;
  background-color: #fafafa;
  color: #565656;
}

a,
a:hover {
  text-decoration: none;
  color: #565656;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

.container {
  padding: 0 25px;
}

.dark-bottom-border{
  border-bottom: 2px solid black;
}

.subtitle {
  font-size: 14px;
}

/* Utils */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
  background-color: #eee;
  border-radius: 20px;
}

.switch:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #919191;
  top: -3px;
  left: 1px;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(145,145,145,1);
  -moz-box-shadow: 0px 0px 3px 3px rgba(145,145,145,1);
  box-shadow: 0px 0px 3px 3px rgba(145,145,145,1);
}

#autoplay.checkbox:checked + .switch::after {
  left: 24px;
  background-color: rgb(39, 39, 223);
}

#autoplay.checkbox {
  display: none;
}

/* Navigation */
nav {
  background-color: #ffffff;
  padding: 10px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-left,
nav .nav-right {
  display: flex;
  align-items: center;
}

nav ul li:not(:last-child) {
  margin-right: 25px;
}

nav .nav-left .brand {
  width: 80px;
}

nav .nav-right .nav-avatar {
  width: 30px;
  border-radius: 50%;
}

nav .nav-search-form .nav-search-form {
  display: block;
}

nav .nav-search-form .nav-search-form-input {
  padding: 5px 10px;
  width: 550px;
  color: #565656;
  font-size: 18px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

nav .nav-search-form .nav-search-form-input:focus,
nav .nav-search-form .nav-search-form-input:active {
  outline: none;
  border: 1px solid rgb(104, 104, 104);
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.61);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.61);
}

nav .nav-search-form .nav-search-form-button {
  padding: 5px 25px;
  color: rgb(124, 124, 124);
  background-color: rgb(248, 248, 248);
  font-size: 18px;
  position: relative;
  left: -5px;
  border: 1px solid #ccc;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Video section */
.video-section {
  width: 65%;
  padding: 30px 0;
  float: left;
}

.video-section iframe {
  width: 100%;
  height: 500px;
}


.video-section .video-title {
  font-size: 18px;
  margin: 15px 0;
}

.video-section .video-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.video-section .video-social a{
  color: rgb(116, 116, 116);
}

.video-section .video-views,
.video-section .video-buttons {
  display: flex;
  color: rgb(116, 116, 116);
}

.video-section .video-views li:not(:last-child) {
  margin-right: 10px;
}

.video-section .video-buttons li {
  padding:0 15px 20px;
}

.video-footer {
  display: flex;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 20px;
}

.video-footer .video-author-avatar {
  padding: 10px;
}

.video-footer .video-author-avatar img {
  width: 50px;
  border-radius: 50%;
}

.video-footer .video-author-subscribe {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.video-footer .video-author-subscribe button.subscribe {
  padding: 10px 20px;
  background-color: rgb(189, 1, 1);
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

.video-footer .video-description {
  font-size: 14px;
  line-height: 1.6;
}

.video-footer .video-description a {
  color: #818181;
  font-weight: bold;
}

/* Aside */
aside {
  padding: 30px 0;
}

aside .aside-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

aside .aside-header .articles-autoplay {
  display: flex;
  align-items: center;
}

aside .aside-header .articles-autoplay .label {
  margin-right: 10px;
}

aside .articles .article-link {
  display: flex;
  position: relative;
}

aside .articles .article-link i {
  display: none;
  color: #818181;
}

aside .articles .article-link:hover i {
  display: block;
  position: absolute;
  top: 2px;
  right: 10px;
}

aside .articles article:first-child {
  border-bottom: 1px solid rgba(184, 184, 184, 0.4);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

aside .articles article:not(:first-child) {
  margin-bottom: 10px;
}

aside .articles .article-details {
  margin-left: 10px;
}

aside .articles .article-details .article-title {
  padding-right: 20px;
}


/* Comments */
.comments {
  float: left;
  width: 65%;
}

.comments .comments-header .comments-header-items{
  display: flex;
  margin-bottom: 20px;
}

.comments .comments-header .comments-header-items li{
  margin-right: 20px;
}


.comments .comments-header .comments-header-items li>a{
    color: #818181;
}

.comments .comment{
  display: flex;
  align-items: center; 
  margin-bottom: 30px;
}

.comments .comment-body{
  line-height: 1.8;
}


.comments .comment .comment-text{
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.comments .comment .comment-date{
  font-size: 10px;
}

.comments .comment:first-child{
  margin-bottom: 30px;
}

.comments .comment .add-comment-form{
  flex: 1;
}



.comments .comment .add-comment-form input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #fafafa;
  width: 100%;
}

.comments .comment .comment-avatar{
  margin-right: 20px;
}

.comments .comment .comment-social{
  display: flex;
  align-items: center;
}

.comments .comment .comment-social li:not(:last-child){
  margin-right: 12px;
  font-size: 14px;
}

.comments .comment .comment-social a{
 color: rgb(121, 121, 121);
 font-weight: bold;
 font-size: 14px;
}

.comments .comments-main .comment-avatar img{
  border-radius: 50%;
  width: 40px;
}